@model IEnumerable<INMOBILIARIA__Oliva_Perez.Models.Inmueble>

<h2>Inmuebles</h2>
<div class="mb-3 d-flex gap-2">
    <a class="btn btn-success" href="@Url.Action("Create")">
        <i class="bi bi-plus-circle"></i> Nuevo
    </a>

    <a class="btn btn-primary" href="@Url.Action("Disponibles", "Inmueble")">
        <i class="bi bi-check-circle"></i> Ver disponibles
    </a>

    <a class="btn btn-info" href="@Url.Action("Create", "TipoInmueble")">
        <i class="bi bi-building"></i> Nuevo tipo de inmueble
    </a>
</div>

<table class="table table-striped table-bordered">
    <thead class="table-info">
        <tr class="table-ligth">
            <th>Dirección</th>
            <th>Uso</th>
            <th>Ambientes</th>
            <th>Latitud</th>
            <th>Longitud</th>
            <th>Precio</th>
            <th>Propietario</th>
            <th>Tipo</th>
            <th>Estado</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var i in Model)
        {
            <tr>
                <td>@i.Direccion</td>
                <td>@i.Uso</td>
                <td>@i.Ambientes</td>
                <td>@i.Latitud</td>
                <td>@i.Longitud</td>
                <td>$@i.Precio.ToString("N2")</td>
                <td>@i.Propietario.Nombre @i.Propietario.Apellido</td>
                 <td>@i.Tipo.Nombre</td>
                <td>@(i.Estado ? "Activo" : "Inactivo")</td>
                <td>
                    <a class="btn btn-info btn-sm me-1" href="@Url.Action("Details", new { id=i.Id })">
                        <i class="bi bi-eye"></i>
                    </a>
                    <a class="btn btn-warning btn-sm me-1" href="@Url.Action("Edit", new { id=i.Id })">
                        <i class="bi bi-pencil-square"></i>
                    </a>
                    <a class="btn btn-danger btn-sm me-1" href="@Url.Action("Delete", new { id=i.Id })">
                        <i class="bi bi-trash"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

@if (ViewBag.TotalPaginas > 1)
{
    <nav aria-label="Paginación">
        <ul class="pagination justify-content-center">
            <li class="page-item @(ViewBag.PaginaActual == 1 ? "disabled" : "")">
                <a class="page-link" href="@Url.Action("Index", new { pagina = ViewBag.PaginaActual - 1 })">Anterior</a>
            </li>

            @for (int i = 1; i <= ViewBag.TotalPaginas; i++)
            {
                <li class="page-item @(i == ViewBag.PaginaActual ? "active" : "")">
                    <a class="page-link" href="@Url.Action("Index", new { pagina = i })">@i</a>
                </li>
            }

            <li class="page-item @(ViewBag.PaginaActual == ViewBag.TotalPaginas ? "disabled" : "")">
                <a class="page-link" href="@Url.Action("Index", new { pagina = ViewBag.PaginaActual + 1 })">Siguiente</a>
            </li>
        </ul>
    </nav>
}


